@page "{Year?}"
@model SuperEmployeeManager9000.Pages.Employees.EmployeesModel
@{
    ViewData["Title"] = "Salary Review";
}

<h4>Overall salary data.</h4>


@* Current average salary section. *@
<p>
    Current average salary:
    @{
        foreach (var item in Model.Employee)
        {
            Model.EmployeeCount++;
            Model.TotalSalary += item.Salary;
        }
        if (Model.EmployeeCount > 0)
        {
            Model.AverageSalary = Model.TotalSalary / Model.EmployeeCount;
            WriteLiteral(Model.AverageSalary);
        }
        else
        {
            WriteLiteral("0 (No salaries in system)");
        }
    }
</p>
<hr />


@* Yearly average salary section. *@
<div class="row">
    <div class="col-md-4">
        <h4>Average salaries in year: @{WriteLiteral(Model.CurrentlyInspectedYear.ToString()); }</h4>


        @* Iterating through employees' salaries when they were hired and calculating monthly averages. *@
        @{
            for (int i = 0; i < 12; i++)
            {
                foreach (var item in Model.Employee)
                {
                    if (item.DateHired.Year > Model.CurrentlyInspectedYear) { continue; }

                    if (item.DateHired.Year == Model.CurrentlyInspectedYear && item.DateHired.Month > i + 1) { continue; }

                    Model.MonthlyTotalSalaries[i] += item.Salary;
                    Model.AmountOfPeopleContributingToSalary[i]++;
                }

                if (Model.AmountOfPeopleContributingToSalary[i] > 0)
                {
                    Model.MonthlyAverageSalaries[i] = Model.MonthlyTotalSalaries[i] / Model.AmountOfPeopleContributingToSalary[i];
                }
                else
                {
                    Model.MonthlyAverageSalaries[i] = 0;
                }
            }
        }

        <p>
            January: @{WriteLiteral(Model.MonthlyAverageSalaries[0]); }<br />
            February: @{WriteLiteral(Model.MonthlyAverageSalaries[1]); }<br />
            March: @{WriteLiteral(Model.MonthlyAverageSalaries[2]); }<br />
            April: @{WriteLiteral(Model.MonthlyAverageSalaries[3]); }<br />
            May: @{WriteLiteral(Model.MonthlyAverageSalaries[4]); }<br />
            June: @{WriteLiteral(Model.MonthlyAverageSalaries[5]); }<br />
            July: @{WriteLiteral(Model.MonthlyAverageSalaries[6]); }<br />
            August: @{WriteLiteral(Model.MonthlyAverageSalaries[7]); }<br />
            September: @{WriteLiteral(Model.MonthlyAverageSalaries[8]); }<br />
            October: @{WriteLiteral(Model.MonthlyAverageSalaries[9]); }<br />
            November: @{WriteLiteral(Model.MonthlyAverageSalaries[10]); }<br />
            December: @{WriteLiteral(Model.MonthlyAverageSalaries[11]); }<br />
        </p>

        <p>
            <a href="/Index?Year=@{WriteLiteral(DateTime.Now.Year);}">Go to current year.</a><br />
            <a href="/Index?Year=@{
                Model.CurrentlyInspectedYear--;
                WriteLiteral(Model.CurrentlyInspectedYear);
                }">Go to last year.</a><br />
            <a href="/Index?Year=@{
                Model.CurrentlyInspectedYear+=2;
                WriteLiteral(Model.CurrentlyInspectedYear);
                }">Go to next year.</a>
        </p>
    </div>
</div>
