@page
@model SuperEmployeeManager9000.Pages.Employees.EmployeesModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    @* Current average salary section. *@
    <p>
        Current average salary:
        @{
            foreach (var item in Model.Employee)
            {
                Model.EmployeeCount++;
                Model.TotalSalary += item.Salary;
            }
            Model.AverageSalary = Model.TotalSalary / Model.EmployeeCount;
            WriteLiteral(Model.AverageSalary);
        }
    </p>
    <hr />


    @* Yearly average salary section. *@
    <div class="col-md-4 text-right">
        <a href="#">Last Year</a>
    </div>

    <div class="col-sm-1 text-center">
        <ul>
            <li>1000</li>
            <li>1000</li>
            <li>1000</li>
            <li>1000</li>
            <li>1000</li>
            <li>1000</li>
            <li>1000</li>
            <li>1000</li>
            <li>1000</li>
            <li>1000</li>
            <li>1000</li>
            <li>1000</li>
        </ul>
    </div>

    <div class="col-md-4 text-left">
        <a href="#">Next Year</a>
    </div>
</div>
